h1 {
    font-size: 2.5em;
    margin-top: 4em;
    text-align: center;
}

.constructDiv {
margin-block: 3em;
}

.founderTxt {
    margin-left: 2em;
}

h2,
h5 {
    font-size: 2em;
}

.aboutSection {
    display: flex;
    width: 80%;
    margin-top: 10em;
    margin-inline: 10em;
}

section p {
    width: 90%;
}