h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 4em;
    text-align: center;
}

.constructDiv {
margin-block: 3em;
}

.founderTxt {
    margin-left: 2em;
}

h2, h3, h4 {
    margin-block: .5em;
    font-weight: bold;
    font-size: 2em;
}

.aboutSection {
    display: flex;
    width: 80%;
    margin-top: 10em;
    margin-bottom: 15em;
    margin-inline: 10%;
}

.founderSection {
    display: flex;
    margin-top: 10em;
    margin-inline: 20%;
}


.founderImg {
    margin-right: 5em;
}

section p {
    width: 90%;
}