main {
    margin-inline: 15%;
    display: block;
}

h1 {
    text-align: center;
    margin-top: 3em;
}

p {
    margin-top: 3em;
    margin-bottom: 6em;
}

.banner {
    margin-block: 6em;
}

.banner img {
    width: 50%;
    height: 40em;
    display: block;
    margin: auto;
}

@media screen and (max-width:1280px) {
main {
    margin: 0 2em;
}
    h1 {
        margin-inline: 0;
    }
    }
    .banner img {
        width:100%;
        height: auto;
    }
