* {
  margin: 0;
  padding: 0;
  font-family: "Pt Sans", sans-serif, monospace;
}

main{
  color: #ffffff;
}

html {
  background-color: #000000;
}

body {
  background-color: #000000;
}

header a {
  color: #EEEEEE;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-block: 3em;
  font-size: 3em;
}

h2, h3 ,h4, h5 {
  text-transform: uppercase;
}

footer a {
  color: #1672a7;
  padding: 10px;
}

p {
  font-weight: bold;
  font-size: 1.2em;
}



.cwNav {
  display: flex;
  margin-top: 0.5em;
  margin-right: 4em;
}

.navBrand {
  margin-left: 2.5em;
}

.navLink {
  text-transform: uppercase;
  margin: .8em;
  padding-top: .5em;
  font-weight: bolder;
  font-size: 1.8em;
  display: inline-block;
}

.navLinkStyle {
  padding: 0;
  margin: 0;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.navLinkStyle::before {
  content: "";
  position: absolute;
  top: 80%;
  width: 110%;
  height: 180%;
  background-image: url("/images/crackle.gif");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
  background-color: transparent;
}


.navLinkStyle:hover {
  color: #ffffff;
}



.navLinkStyle:hover::before {
  opacity: 1;
}

.postContainer a {
  color:  #6cb4dd;
}

.title {
  font-weight: bold;
}

.title, .postBtn {
padding: 0;
}

.postContainer {
  border-radius: 5%;
  background-color: #0f0f0f;
  width: 30%;
  padding: 3em;
  margin: 2em;
  display: block;
}

.postContainer img {
  margin-left: 1em;;
  border-radius: 5%;
  margin-bottom: 1em;
}

.postContainer p {
  font-weight: 100;
  margin-bottom: 0;
}

.listOfPosts {
  margin-inline: 10em;
  display: flex;
  flex-wrap:wrap;
}

.postContainer button{
  border-color: #0f0f0f;
}

.postContainer button:hover {
  background-color: #0f0f0f;
}

/* button */

button {
  border-color: #000001;
  margin-top: 1em;
  text-transform: uppercase;
  background-color:  #6cb4dd;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  transition-duration: 0.7s;
}

button:hover {
  border-color: #6cb4dd;
  color:  #6cb4dd;
  background-color: #000000;
  text-decoration: none;
  padding: 10px;
}

button b {
  font-size: 1.3em;
}



/* footer */

footer {
  bottom: 0;
  width: 100%;
  height: 15em;
  padding-top: 1em;
  margin-top: 20em;
}

.footerContents {
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}

.contactFooter {
  display: flex;
}


.footerBrand {
  display: inline;
}

.footerBrand {
  display: inline;
  margin-top: -2em;
}

.companyContact {
  display: inline;
  justify-content: center
}

.companyContact a:hover{
  transition: 500ms;
  color: #bbdeff;
}