.constructDiv {
margin-block: 3em;
}

.founderTxt {
    margin-left: 2em;
}

h2, h3, h4 {
    color:  #6cb4dd;
    margin-block: .5em;
    font-weight: bold;
    font-size: 2em;
}

.aboutSection {
    display: flex;
    width: 80%;
    margin-top: 10em;
    margin-bottom: 15em;
    margin-inline: 10%;
}

.founderSection {
    display: flex;
    margin-top: 10em;
    margin-inline: 20%;
}


.founderImg {
    margin-right: 5em;
}

section p {
    width: 90%;
}

@media screen and (max-width: 1280px)  {
    .aboutSection {
        margin-bottom: 0;
        flex-direction: column-reverse;
        width: fit-content;
        text-align: center;
    }
   .aboutSection p {
        width: 100%;
    }

    .aboutSection img {
        width: 100%;
        height: auto;
    }


    .founderSection {
        margin-bottom: 0;
        margin-inline: 1em;
        flex-direction: column;
        width: fit-content;
        text-align: center;
    }

    .founderSection div {
        margin: 0;
    }
   .founderSection p {
        width: 100%;
    }

    .founderSection img {
        width: 80%;
        height: auto;
    }
   
}