
main {
  background-image: url("/images/V4B.png");
  background-position: 170% 110%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.electricTxt{
  width: 100%;
  height: 51em;
}

.serviceh2 {
  text-align: center;
  margin-bottom: 3cqmax;
}

.serviceHeader {
  color:  #6cb4dd;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.serviceElem {
  border-radius: 5%;
  border: 2px solid;
  border-color:  #6cb4dd;
  padding: 2em;
  margin-inline: 2.5em;
  width: 22%;
}

.serviceElemAlign, h1
{
  margin-block: 2em;
  display: flex;
  justify-content: center;
}


.serviceElem h2, .serviceElem p {
  margin: 0;
  margin-top: 1em;
  text-align: center;

}

.serviceElem i {
  color:  #6cb4dd;
  margin-block: .5em;
  display: flex;
  justify-content: center;
}

.serviceBtn {
  margin-top: 3em;
  text-align: center;
}



h3 {
font-size: 1.2em;
}


.electricTxtAlign {
  display: flex;
  justify-content: center;
}

.contactSect h2 , h2 {
  margin-bottom: 1em;
  font-weight: bold;
  color:#6cb4dd;
}

.contactSect {
  margin-inline: 10%;
  margin-top: 15em;
  margin-bottom: 8em;
  display: flex;
  justify-content: center;
}

.contactAlign {
  display: flex;
  width: 70%;
}

.contactSect img {
  margin-top: -10em;
  transform: rotate(48deg);
}

.aboutSect{
  margin-bottom: 20em;
  margin-top: 15em;
  margin-inline: 10%;
}

.aboutAlign {
  display: flex;
}

.aboutAlign h2{
  color:  #6cb4dd;
  font-weight: bold;
  margin-block: 1em;
}

.aboutAlign div {
  width: 60%;
}

.aboutAlign img {
  margin-right: 5em;
  border-radius: 5%;
  width: 50%;
}

.blogSect h2{
  color:  #6cb4dd;
  margin-inline: 10%;
}

.blogSect h2 {
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  
  .electricTxt{
    height: 40em;
  }

}


@media screen and (max-width: 1280px) {

  h1 {
    font-size: 1.5em;
  }

  .electricTxt{
    height: 20em;
  }

        .serviceElemAlign {
          width: fit-content;
          display: block;
        }

        .serviceElem {
          margin-inline: auto;
          width: 90%;
          margin-top: 3em;
        }
 
        .contactSect {
          display: flex;
        flex-direction: column-reverse;
          margin-inline: 10%;
        }

        .contactSect img{
          width: 100%;
          height: auto;
        }

        .contactAlign {
          width: fit-content;
          text-align: center;
        }

        .aboutSect {
          margin-block: 7em;
          margin-inline: 0;
        }

        .aboutAlign {
          display:block;
        }

        .aboutAlign div{
          margin: 2em;
          width:fit-content;
          text-align: center;
        }

        .aboutAlign img {
          width: 0;
          height: 0;
          visibility: hidden;
        }

        .blogAlign {
          display: block;
        }

        main {
          background-size: 150%;
          background-position: 0% 92%;
        }
}