
main {
  background-image: url("/images/V4B.png");
  background-position: 170% 110%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.serviceHeader {
  color:  #6cb4dd;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.serviceElem {
  border-radius: 5%;
  border: 2px solid;
  border-color:  #6cb4dd;
  padding: 2em;
  margin-inline: 2.5em;
  width: 22%;
}

.serviceElemAlign, h1
{
  margin-block: 2em;
  display: flex;
  justify-content: center;
}

.edgeTxt {
  color:  #6cb4dd;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: .5em;
  margin-top: 3em;
}

.serviceElem h2, .serviceElem p {
  margin: 0;
  margin-top: 1em;
  text-align: center;

}

.serviceElem i {
  color:  #6cb4dd;
  margin-block: .5em;
  display: flex;
  justify-content: center;
}



h3 {
font-size: 1.2em;
}


.electricTxtAlign {
  display: flex;
  justify-content: center;
}

.contactSect {
  margin-top: 7em;
  display: flex;
  justify-content: center;
}

.contactAlign {
  width: 50%;
  display: block;
  justify-content: center;
  text-align: center;
}

.aboutSect{
  margin-bottom: 20em;
  margin-top: 15em;
  margin-inline: 15%;
}

.aboutAlign {
  display: flex;
}

.aboutAlign h2{
  color:  #6cb4dd;
  font-weight: bold;
  margin-block: 1em;
}

.aboutAlign div {
  width: 60%;
margin-right: 10em;
}

.aboutAlign img {
  border-radius: 5%;
  width: 60%;
}

.blogSect h2{
  color:  #6cb4dd;
  margin-inline: 10%;
}

.blogSect h2 {
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  
  .electricTxt{
    width: 100%;
    height: 29em;
  }

}


@media screen and (max-width: 1280px) {
  .electricTxt{
    width: 100%;
    height: 32em;
        }

        .serviceElemAlign {
          width: fit-content;
          display: block;
        }

        .serviceElem {
          margin-inline: auto;
          width: 90%;
          margin-top: 3em;
        }
 
        .contactSect {
          margin-inline: 3em;
        }

        .contactAlign {
          width: 100%;
        }

        .edgeTxt {
          font-size: 2em;
        }

        .aboutSect {
          margin-block: 7em;
          margin-inline: 0;
        }

        .aboutAlign {
          display:block;
        }

        .aboutAlign div{
          margin: 2em;
          width:fit-content;
          text-align: center;
        }

        .aboutAlign img {
          width: 0;
          height: 0;
          visibility: hidden;
        }

        .blogAlign {
          display: block;
        }

        main {
          background-size: 150%;
          background-position: 0% 92%;
        }
}