main {
    margin-inline: 15%;
    display: block;
}

h1 {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
}

h2 {
color: #6cb4dd;
}

p {
    margin-top: 3em;
    margin-bottom: 6em;
}

.banner {
    margin-block: 1em;
}

.banner img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.blogImage img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

@media screen and (max-width:1280px) {
main {
    margin: 0 2em;
}
    h1 {
        margin-inline: 0;
    }
    .banner img {
        width:100%;
        height: auto;
    }

    .blogImage img {
        width: 80%;
        height: auto;
    }
    }
