* {
  font-family: Alata, sans-serif;
  margin: 0;
  padding: 0;
}

main{
  color: #ffffff;
}

html {
  background-color: #000000;
}

body {
  background-color: #000000;
}

header {
  margin-bottom: 10em;
  background-color: #000000;
}

nav {
  background-color: #000000be;
}

header a {
  color: #EEEEEE;
}


a {
  text-decoration: none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-block: 3em;
  font-size: 2.5em;
}

h2, h3 ,h4, h5 {
  text-transform: uppercase;
}

footer a {
  color: #1672a7;
  padding: 10px;
}

p {
  font-size: 1.2em;
}


.cwNav {
  width: fit-content;
  display: flex;
  margin-top: 0.5em;
  margin-right: 4em;
}

.navBrand {
  margin-left: 2em;
  margin-top: .5em;
  margin-right: 50%;
}

.navLink {
  text-transform: uppercase;
  margin: .8em;
  font-weight: bold;
  padding-top: .5em;
  font-size: 1.7em;
  display: inline-block;
}

.cwNav .icon {
  display: none;
}

.navLinkStyle {
  padding: 0;
  margin: 0;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.navLinkStyle::before {
  content: "";
  position: absolute;
  top: 80%;
  width: 100%;
  height: 230%;
  background-image: url("/images/crackle.gif");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
  background-color: transparent;
}


.navLinkStyle:hover {
  color: #ffffff;
}



.navLinkStyle:hover::before {
  opacity: 1;
}

.postContainer a {
  color:  #6cb4dd;
}

.title {
  font-weight: bold;
}

.title, .postBtn {
padding: 0;
}

.postContainer {
  border-radius: 5%;
  background-color: #0f0f0fce;
  width: 30%;
  padding: 3em;
  margin: 2em;
  display: block;
}

.postContainer img {
  margin-left: 1em;;
  border-radius: 5%;
  margin-bottom: 1em;
}

.postContainer p {
  font-weight: 100;
  margin-bottom: 0;
}

.listOfPosts {
  margin-inline: 10em;
  display: flex;
  flex-wrap:wrap;
}

.postContainer button{
  border-color: #0f0f0f;
}

.postContainer button:hover {
  background-color: #0f0f0f;
}

/* button */

button {
  border-color: #000001;
  margin-top: 1em;
  text-transform: uppercase;
  background-color:  #6cb4dd;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  transition-duration: 0.7s;
}

button:hover {
  border-color: #6cb4dd;
  color:  #6cb4dd;
  background-color: #000000;
  text-decoration: none;
  padding: 10px;
}

button b {
  font-size: 1.3em;
}



/* footer */

footer {
  bottom: 0;
  width: 100%;
  height: 15em;
  padding-top: 1em;
  margin-top: 20em;
}

.footerContents , .legal{
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}

.contactFooter {
  display: flex;
}


.footerBrand {
  display: inline;
}

.footerBrand {
  display: inline;
  margin-top: -2em;
}

.companyContact {
  display: inline;
  justify-content: center
}

.companyContact a:hover{
  transition: 500ms;
  color: #bbdeff;
}


/* responsiveness */

@media screen and (max-width: 1280px) {
  * {
    margin: 0;
    font-size: 1em;
  }
  h1 {
    margin-inline: 1em;
    font-size: 2em;
  }

  .cwNav{
    padding: 0;
  }

  .navBrand {
    margin: 0;
    margin-top: .5em;
  }

 .navBrandSize {
    height: 4em;
    width: 15em;
  }

#navCont li {display: none;}
#navCont a.icon {
  font-size: 3em;
  display: block;
  position: absolute;
  margin-right: .5em;
  right: 0;
  top: 1;
  }

  #navCont.responsive {position: relative;}
  #navCont.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  #navCont.responsive .cwNav {
    float: left;
    display: block;
    text-align: left;
  }

  #navCont.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .listOfPosts {
    margin: 0;
    display: block;
  }

  .postContainer {
    margin-inline: auto;
    text-align: center;
    width:fit-content;
  }

  .postContainer p {
    display: none;
  }

  .postContainer img {
    margin-inline: 0;
    height: 15em;
    width: 15em;
  }

  footer {
    margin-top: 10em;
    display: block;
  }


   .legal a{
      text-align: center;
      display: block;
    }


.contactFooter{
  text-align: center;
  display: block;
}

  .footerBrand img {
    margin-bottom: 1em;
    width: 100%;
    height: 6em;
  }

}

@media screen and (max-width: 300px) {
  .navBrandSize{
    width: 12em;
  }
   
  .postContainer img{
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  
  .navBrand {
    margin-right: 15%;
  }

  .postContainer img {
    margin-inline: 0;
    height: 15em;
    width: 15em;
  }
}