{{ define "main" }}
<script src="/js/index.js" defer></script>
<link rel="stylesheet" href="/css/index.css">


<div class="electricTxtAlign">
    <video class="electricTxt" width="60%" height="675" autoplay muted loop src="/images/Untitled.mp4" alt=""></video>
</div>


<body>
    <main>

<h1><b>Specializing in Digital Marketing for Construction</b></h1>

<div id="service" class="serviceElemAlign">
    <div class="serviceElem">
        <i class="bi bi-pc-display-horizontal" style="font-size:3em"></i>
        <p class="serviceHeader">Web Development</p>
        <p>We code your website from scratch.
            Have an eye catching website that sets you a part from your
            competitors.</p>
        <a class="" href="#"></a>
    </div>
    <div class="serviceElem">
        <i class="bi bi-badge-ad-fill" style="font-size:3em"></i>
        <p class="serviceHeader">Advertising</p>
        <p>We create and run ads that are specific to
            the problems you solve and the network you want to reach.
            Clients have a problem. You will be the solution.
        </p>
        <a class="" href="#"></a>
    </div>
    <div class="serviceElem">
        <i class="bi bi-graph-up-arrow" style="font-size:3em"></i>
        <p class="serviceHeader">Media Growth</p>
        <p>We will get eyes on your projects.
            Use media platforms to expand your
            network as soon as possible.
        </p>
        <a class="" href="#"></a>
    </div>
</div>
<div>
    <p></p>
</div>

<section class="contactSect">
    <div class="contactAlign">
        <h2>Why Construction?</h2>
        <p>At Conductive Web, we love construction for its transformative power and the joy of turning dreams
            into reality. We're inspired by the creativity and innovation it embodies, and our passion lies in
            empowering construction businesses to shine through our digital marketing expertise. Building a
            better world, one project at a time.
        </p>
        <a href="about.html"><button class="aboutBtn"><b class="aboutTxt">Want to know more?</b></button></a>
    </div>
</section>


<section class="aboutSect">
    <div class="aboutAlign">
        <h3>Gain the Competitive Edge</h3>
        <p class="aboutTxt">
            With Conductive Web, your competitive edge is assured. Strategic, data-driven solutions amplify
            brand visibility, engagement, and conversions. Targeted ads, SEO, media, and captivating content set
            you apart. Embrace the edge and ignite success.
        </p>
        <a href="contact.html"><button class="contactBtn"><b class="contactTxt">Lets get
                    started</b></button></a>
    </div>
</section>
</main>
</body>
{{ end }} 