{{ define "main" }}
<script src="/js/index.js" defer></script>
<link rel="stylesheet" href="/css/index.css">


<div class="electricTxtAlign">
    <video class="electricTxt" width="80%" height="650" preload autoplay muted loop playsinline src="/images/electric.mp4" alt=""></video>
</div>

        <h1><b>Specializing in Digital Marketing for Construction</b></h1>

        <div id="service" class="serviceElemAlign">
            <div class="serviceElem">
                <i class="bi bi-pc-display-horizontal" style="font-size:3em"></i>
                <h2 class="serviceHeader">Web Development</h2>
                <p>We code your website from scratch.
                    Have an eye catching website that sets you a part from your
                    competitors.</p>
                <a class="" href="#"></a>
            </div>
            <div class="serviceElem">
                <i class="bi bi-badge-ad-fill" style="font-size:3em"></i>
                <h2 class="serviceHeader">Advertising</h2>
                <p>We create and run ads that are specific to
                    the problems you solve and the network you want to reach.
                    Clients have a problem. You will be the solution.
                </p>
                <a class="" href="#"></a>
            </div>
            <div class="serviceElem">
                <i class="bi bi-graph-up-arrow" style="font-size:3em"></i>
                <h2 class="serviceHeader">Media Growth</h2>
                <p>We will get eyes on your projects.
                    Use media platforms to expand your
                    network as soon as possible.
                </p>
                <a class="" href="#"></a>
            </div>
        </div>
        <div>
            <p></p>
        </div>

        <section class="contactSect">
            <div class="contactAlign">
                <h2 class="edgeTxt">Gain the Competitive Edge</h2>
                <p class="contactTxt">
                    With Conductive Web, your competitive edge is assured. Strategic, data-driven solutions amplify
                    brand visibility, engagement, and conversions. Targeted ads, SEO, media, and captivating content set
                    you apart. Embrace the edge and ignite success.
                </p>
                <a href="/contact"><button class="contactBtn"><b>Lets get
                            started</b></button></a>
            </div>
        </section>

        <section class="aboutSect">
            <div class="aboutAlign">
                <div>
                    <h2>Why Construction?</h2>
                    <p> At Conductive Web, we are passionate about leveraging our expertise in construction digital
                        marketing to propel businesses to new heights. As seasoned professionals in both the
                        construction and marketing industries, we recognized the immense potential for growth and
                        success when these two worlds converge.
                        <br>
                        <br>
                        Our dedication to empowering construction companies
                        stems from a profound understanding of their unique challenges and opportunities. Through our
                        specialized knowledge and cutting-edge strategies, we strive to drive targeted traffic, boost
                        online visibility, and generate high-quality leads for our clients. We believe in fostering
                        meaningful connections between construction businesses and their target audiences,
                        revolutionizing the way they reach and engage with potential customers.
                    </p>
                    <a href="/about"><button class="aboutBtn"><b>Want to know
                                more?</b></button></a>
                </div>
                <img src="images/constructionSite.jpg" loading="lazy" alt="" width="500" height="600">
            </div>
        </section>

        <section class="blogSect">
            <div class="blogAlign">
                <h2>Check out our Featured Blog Posts</h2>
                <section class="listOfPosts">
                    {{ range first 3 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections)
                    ".Params.featured" "=" true) }}

                    <div class="postContainer">
                        {{ with .Resources.GetMatch "banner.jpg" }}
                        <img src="{{ .RelPermalink }}" width="350" height="350">
                        {{ end }}
                        <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    </div>

                    {{ end }}

                </section>
            </div>
        </section>
{{ end }}