<footer>
    <section class="footerContents">
        <div class="contactFooter">
            <div class="footerBrand" href="/">
                <img class="siteLogoFooter" width="400" height="90" src="/images/V3 B(1).png" alt="Site Logo">
            </div>
            <div class="companyContact">
                <a id="phone" class="bi bi-telephone" style="font-size:1.5em" href="tel:503-930-6116"></a>
            </div>
            <div class="companyContact">
                <a id="instagram" class="bi bi-instagram" style="font-size:1.5em"
                    href="https://www.instagram.com/conductiveweb/"></a>
            </div>
            <div class="companyContact">
                <a id="facebook" class="bi bi-facebook" style="font-size:1.5em" href="#"></a>
            </div>
            <div class="companyContact">
                <a id="linkedin" class="bi bi-linkedin" style="font-size:1.5em" href="#"></a>
            </div>
            </div>
    </section>
</footer>