h1 {
    text-align: center;
    text-transform: uppercase;
    margin-block: 2em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: #539ccd;
    margin-bottom: 1em;
}

.elem-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

input,
textarea {
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    color: #ffffff;
    background-color: black;
    width: 35em;
    padding: .5em;
}

textarea::placeholder,
input::placeholder {
    color: #ffffff;
}

input {
    height: 3em;
}

textarea {
    height: 10em;
}

form {
    margin-bottom: 10em;
}

button {
    border-color: #111111;
    margin-top: 1em;
    text-transform: uppercase;
    background-color: rgb(46, 94, 191);
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.7s;
}


button:hover {
    border-color: #93cef5;
    color: #93cef5;
    background-color: #111111;
    text-decoration: none;
    padding: 10px;
}

.contactSection {
    margin-top: 9em;
    display: flex;
    justify-content: center;
}

.contactForm {
    display: inline-block;
    margin-right: 5em;
}

p {
    margin-top: 1em;
    width: 30%;
}

.compPhone {
    margin-left: -0.6em;
}

.phoneNum {
    width: 8em;

}