.banner {
    height: 700px;
    background-image: url("/img/3d-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
  }



  .h2Txt {
    text-decoration: underline;
    font-weight: bold;
  }

  .linkElem {
    font-size: 2em;
    font-weight: bold;
  }

  .linkElemAlign, h2, p, .contactBtn {
    margin-block: 2em;
    display: flex;
    justify-content: center;
  }


 .founderSect {
    margin-inline: 30em;
    display: block;
    justify-content: center;
  }

  .founderTxt {
  }

  