 .h2Txt {
    text-decoration: underline;
    font-weight: bold;
  }

  .linkElem {
    font-size: 2em;
    font-weight: bold;
  }

  .linkElemAlign, h4, h1, h2, p, .contactBtn {
    margin-block: 2em;
    display: flex;
    justify-content: center;
  }


 .founderSect {
    margin-inline: 30em;
    display: block;
    justify-content: center;
  }

  .founderTxt {
  }

  