main {
}

.dify,
.diy {
    text-align: center;
    border: 1px solid;
    width: 100%;
    height: 25em;
    opacity: .5;
    padding: 10em 0;
}

.aAlign {
    padding: 10.5em;
    color: rgb(254, 254, 254);
}

.dify:hover,
.diy:hover {
    background: linear-gradient(#000000,  #000000 , #1d8aff, #000000 , #000000);
    transition: 1s;
    opacity: 1;
}