h1 {
    margin-block: 2em;
    text-align: center;
}

section p {
    width: 90%;
}

.servSect {
    display: flex;
    margin-block: 10em;
    width: 80%;
    margin-inline:10em;
}

#adSect {
    overflow: hidden;
}

#microphone {
   transform: translate(-25em, 0);
}

