<footer>
    <section class="footerContents">
        <div class="contactFooter">
            <div class="footerBrand" href="/">
                <img class="siteLogoFooter" width="600" height="120" src="/images/V3 B(1).png" alt="Site Logo">
            </div>
            <div>
            <div class="companyContact">
                <a id="phone" class="bi bi-telephone" style="font-size:1.5em" href="tel:5039364613"> 503-936-4613</a>
            </div>
            <br>
            <br>
            <div class="companyContact">
                <a id="instagram" class="bi bi-instagram" style="font-size:1.5em"
                    href="https://www.instagram.com/conductive.web/"></a>
            </div>
            <div class="companyContact">
                <a id="facebook" class="bi bi-facebook" style="font-size:1.5em" href="facebook.com/conductiveweb"></a>
            </div>
            <div class="companyContact">
                <a id="linkedin" class="bi bi-linkedin" style="font-size:1.5em" href="#"></a>
            </div>
            </div>
        </div>
    </section>
    <section class="footerContents">
        <div>
            <a href="/terms-of-service">Terms of Service</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/">©2023 Conductive Web</a>
        </div>
    </section>
</footer>